/*definie custom css variables*/
:root {
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff04e;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #dddddd, -3px -3px 3px #dddddd;
    --inner-shadow: inset 3px 3px 3px #dd00dd, inset -3px -3px 3px #ff88ff;
    --skin-color:#ff0000;
}


/*---global style--*/
body {
    font-size: 16px;
    line-height: 1.5; /*indiquer la hauteur utiisée pour calculer la hauteur de la boîte d'une ligne*/
    overflow-x: hidden; /*on n'affiche pas le contenu lorsque le contenu dépasse des bords droit et gauche de la boîte de contenu*/ 
    background-color: gainsboro;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before, ::after{
    box-sizing: border-box;
}
a {
    text-decoration:none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.container {
    max-width: 1140px;
    margin: auto; 
}

/*--header--*/
.header {
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 99;
}
.row {
    display: flex;
    flex-wrap: wrap; /*des éléments peuvent sont disposés sur plusieurs lignes.*/
}
.justify-content-between {
    justify-content: space-between;
}
.outner-shadow{
    box-shadow: var(--outer-shadow);
}
.inner-shadow {
    box-shadow: var(--inner-shadow);
}  

.hover-in-shadow {
    position: relative;
    z-index: 1;
}
.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow);
}
.hover-in-shadow::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.hover-in-shadow:hover:after{
    box-shadow: var(--inner-shadow);
}
.align-items-center {
    align-items: center;
}
.btn-1{
    padding: 10px 25px;
    font-size: 16px;   
    font-weight: 500px;
    color: var(--skin-color);
    background-color:transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30%;
    transition: all 0.3s ease;
    display: inline-block;
}
.btn-1:after{
    border-radius: 30%;
}
.effect-wrap.effect{
    position: absolute;
    z-index: -1;
}
.effect-1{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid red;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}
.effect-2{
    position: absolute;
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap:wrap; /*les éléments sont déposés sur plusieurs lignes*/
    justify-content:space-between;
    animation: mymouve 3s ease-in-out infinite;
}
.effect-2 div{
    height: 3px;
    width: 3px;
    background-color:#ff9c07;
    margin: 0 3px 8px;
}
.effect-3{
    position: absolute;
    border-top:30px solid transparent;
    border-left:30px solid #06d79c;
    left: 30%;
    top:20%;
    animation: spin 15s linear infinite;
}
.effect-3::before{
    content: '';
    border-top:30px solid transparent;
    border-left:30px solid #06d79c;
    position: absolute;
    opacity: 30%;
    left: -35px;
    top: -25px;
}
.effect-4 {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 10%;
    top:30%;
    display: flex;

}
@keyframes spin {
    0%
 {
     transform: rotate(0deg); /*xoay 3D*/

    }
    100% {
        transform: rotate(360deg); 
    }
}
@keyframes mymouve{
    0%,100%{
        transform: translateY(0);/*dich chuyen theo truc Y*/
    }
    50% {
        transform: translateY(30px);
    }
}
.section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin:0;
}
.section-title h2::before {
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color:var(--skin-color);
}
.logo a{
    height: 40px;
    width: 40px;
    display: inline-block; /*accept de mettre with et height d'un élément*/
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    border: 2px solid;
    font-weight: 600;
    text-transform: uppercase;
    color:violet;

}
.btn {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0,5s ease;
    border-radius: 50%;
}
.btn span {
    display: block;
    height: 2px;
    width: 16px;
    background-color: var(--bg-black-900);
    position: relative;
}
.btn span::before,
.btn span::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);
}
.btn span::before {
    top:-5px;
}
.btn span::after {
    top:5px;
}
/*navigation menu*/
.nav-menu {
    position: fixed;
    background-color:black;
    padding: 0px 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: gray;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}
.close-nav-menu{
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius:50%;
    position: absolute;
    right: 15px;
    top:15px;
    cursor: pointer;
    text-align: center;
    color: var(--text-black-600);
    transition: all 0.3s ease ;
}
.close-nav-menu::after{
    border-radius:50%;
}
.nav-menu-inner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-menu ul {
    padding: 15px;
}
.nav-menu ul li {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.nav-menu ul li:last-child{
    margin-bottom: 0;
}
.nav-menu ul li a{
    display: inline-block;
    font-size: 28px;
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30%;
    transition: all 0.3s ease ;
}
.inner-shadow.active{
    color: var(--skin-color);
}
.nav-menu ul li a::after{
    border-radius: 30%;
}
/**home section**/
.home-section {
    position: relative;
}
.home-section .full-screen{
    margin-top: 20px;
    padding: 50px 0;
    min-height: 100vh;
}
.home-text,
.home-img{
    flex: 50%;
    max-width: 50%;
    padding: 15px;
}
.home-text p{
    color: var(--text-black-300);
    font-size: 55px;
    font-weight: 600px;
    color:black;
    text-transform: capitalize;
    margin:0;
}
.home-text h2{
    font-size: 55px;
    font-weight:700;
    color: black;
    margin: 0;
}
.home-text h1{
    font-size: 20px;
    font-weight:500;
    color: var(--text-black-700);
    margin:0px;
    text-transform: capitalize;
}
.home-img .img-box{
    max-width: 600px;
    display: block;
    margin  : auto;
    border-radius: 50%;
}
.home-img .img-box img{
    width: 100%;
    border-radius: 50%;
}
/*about section*/
.about-section {
    padding: 80px 0px 80px;
    min-height: 100vh;
}
.about-img{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}
.img-box {
    padding: 15px;
    border-radius: 5px;
}
.img-box img {
    border: 10px solid transparent;
    border-radius: 5px;
}
.social-link {
    margin-top: 20px;
    text-align: center;
}
.social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color : var(--text-black-600);
    margin:0 4px;
    border-radius: 50%;
    transition: all 0.3 ease;
}
.social-link a i {
    line-height: 40px;   
}
.social-link a::after {
    border-radius: 50%;
}
.social-link a:hover {
    color: var(--skin-color);
}
.about-info{
    flex: 0 0 60%;
    max-width: 60%;
}
.about-info p{
    font-size:16px;
    line-height: 25px;
    margin-top: 20px;
    color: var(--text-black-900) ;
}
.about-info span{
    font-weight: 600;
}
.about-info .btn-1{
    margin:30px 20px 0 0;
}
.about-tabs {
    padding: 60px 15px 50px;
    flex: 0 0 100%;
    max-width:100% ;
    text-align: center;
}
.tab-items {
    display: inline-block;
    margin:0 5px 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: 16px;
    color: var(--text-block-600);
    font-weight: 500;
    text-transform: capitalize;
}